@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Emulate h2 style */
article section header p{
	break-after: avoid;
	break-inside: avoid;
	font-size: 1.5em;
	font-variant: small-caps;
	font-weight: bold;
	hyphens: none;
	-epub-hyphens: none;
	margin: 3em 0;
	text-align: center;
}

/* Letters */
[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}
/* End letters */

/* Poetry and verse */
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}
/* End poetry and verse */
