@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Emulate h2 style */
article section header p{
	break-after: avoid;
	break-inside: avoid;
	font-size: 1.5em;
	font-variant: small-caps;
	font-weight: bold;
	hyphens: none;
	-epub-hyphens: none;
	margin: 3em 0;
	text-align: center;
}

/* Elision */
span.elision{
	margin: .5em;
	margin-left: 3em;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}
/* End all epigraphs */

/* Full page epigraphs */
[epub|type~="epigraph"] > *{
	text-align: center;
}

[epub|type~="epigraph"] > * > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: initial;
}

@supports(display: flex){
	[epub|type~="epigraph"] > *{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 3em;
	}

	[epub|type~="epigraph"] > * > *{
		margin: 0;
	}

	[epub|type~="epigraph"] > * > * + *{
		margin-top: 3em;
	}
}

/* Add page breaks after epigraph poems */
[epub|type~="epigraph"] > [epub|type~="z3998:poem"],
[epub|type~="epigraph"] > [epub|type~="z3998:verse"]{
	page-break-after: always;
}

/* Letters */
[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}
/* End letters */

/* Poetry and verse */
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}
/* End poetry and verse */
