@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* All caps style in Spiritual Laws */
#spiritual-laws strong{
	font-variant: normal;
	text-transform: uppercase;
}

/* Drama formatting */
[epub|type~="z3998:drama"] table{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	padding: .5em;
	vertical-align: top;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}

/* Emulate h2 style */
article section header p{
	break-after: avoid;
	break-inside: avoid;
	font-size: 1.5em;
	font-variant: small-caps;
	font-weight: bold;
	hyphens: none;
	-epub-hyphens: none;
	margin: 3em 0;
	text-align: center;
}

/* Elision */
span.elision{
	margin: .5em;
	margin-left: 3em;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}
/* End all epigraphs */

/* Full page epigraphs */
[epub|type~="epigraph"] > *{
	text-align: center;
}

[epub|type~="epigraph"] > * > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: initial;
}

@supports(display: flex){
	[epub|type~="epigraph"] > *{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 3em;
	}

	[epub|type~="epigraph"] > * > *{
		margin: 0;
	}

	[epub|type~="epigraph"] > * > * + *{
		margin-top: 3em;
	}
}

/* Remove padding from Art poem to keep it on same page as the h2 */
#art [epub|type~="epigraph"] > blockquote{
	padding-top: 0;
}

/* Specify min-height for epigraph poems/verse to centre the first poem on the page */
section[id$="epigraph"] > blockquote[epub|type~="z3998:poem"],
section[id$="epigraph"] > blockquote[epub|type~="z3998:verse"]{
	min-height: calc(52vh - 3em);
}

/* Set min-height to vertically centre second poem in essays with two epigraph poems */
#character [epub|type~="epigraph"] > blockquote:nth-of-type(2),
#compensation [epub|type~="epigraph"] > blockquote:nth-of-type(2),
#history [epub|type~="epigraph"] > blockquote:nth-of-type(2),
#self-reliance [epub|type~="epigraph"] > blockquote:nth-of-type(3),
#the-over-soul [epub|type~="epigraph"] > blockquote:nth-of-type(2),
#the-poet [epub|type~="epigraph"] > blockquote:nth-of-type(2){
	min-height: calc(98vh - 3em);
}

/* Add page breaks after epigraph poems */
[epub|type~="epigraph"] > [epub|type~="z3998:poem"],
[epub|type~="epigraph"] > [epub|type~="z3998:verse"]{
	page-break-after: always;
}

/* Letters */
[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}
/* End letters */

/* Poetry and verse */
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i5{
	padding-left: 6em;
	text-indent: -1em;
}

p span.i6{
	padding-left: 7em;
	text-indent: -1em;
}
/* End poetry and verse */
